<form class="row g-3 justify-items-center" [formGroup]="myForm">
  <div class="col-3">
    <input
      type="text"
      placeholder="ชื่อ"
      class="form-control"
      formControlName="name"
    />
  </div>
  <div class="col-3">
    <input
      type="text"
      placeholder="นามสกุล"
      class="form-control"
      formControlName="surname"
    />
  </div>
  <div class="col-2">
    <input
      type="text"
      placeholder="เบอร์โทร"
      class="form-control"
      formControlName="number"
    />
  </div>
  <button (click)="saveToLocalStorage()">Save to Local Storage</button>
</form>
