<form class="row g-3 justify-items-center" [formGroup]="myForm">
  <div class="col-3">
    <input
      type="text"
      placeholder="ชื่อ"
      class="form-control"
      formControlName="name"
    />
  </div>
  <div class="col-3">
    <input
      type="text"
      placeholder="นามสกุล"
      class="form-control"
      formControlName="surname"
    />
  </div>
  <div class="col-2">
    <input
      type="text"
      placeholder="เบอร์โทร"
      class="form-control"
      formControlName="number"
    />
  </div>
  <button
    type="button"
    (click)="saveToLocalStorage()"
    class="col-3 border-1 border-white rounded-2"
  >
    Save to Local Storage
  </button>
</form>

<div *ngFor="let patient of myForm.get('patients')?.value" class="row g-3 mt-5">
  <div class="col-3 mt-5">{{ patient.name }}</div>
  <div class="col-3 mt-5">{{ patient.surname }}</div>
  <div class="col-2 mt-5">{{ patient.number }}</div>
  <button type="button" class="col-3 border-1 border-white rounded-2">
    Edit
  </button>
</div>
