<div class="row d-flex justify-content-center text-center">
    <div class="col-md-5">
        <app-mixed-download-app class="card card-xxl-stretch mb-xl-3" [title]="title_android" btnColor="success"
            [download_link]="download_link_android" [icon_link]="icon_android">
        </app-mixed-download-app>
    </div>
    <div class="col-md-5">
        <app-mixed-download-app class="card card-xxl-stretch mb-xl-3" [title]="title_ios" btnColor="primary"
            [download_link]="download_link_ios" [icon_link]="icon_ios">
        </app-mixed-download-app>
    </div>
</div>