<div class="card mb-5 mb-xl-8" *ngIf="!token_received">
    <div class="card-header border-0 pt-5">
        <div class="pb-10 pb-lg-12">
            <h2 class="fw-bolder text-dark">สร้าง QR Code</h2>
            <!-- <div class="text-gray-400 fw-bold fs-6">
                หากต้องการจัดการรายการที่เคยสร้างไว้ ไปยัง
                <a href="#" class="link-primary fw-bolder">รายการที่สร้างไว้</a>
            </div> -->
        </div>
        <!-- <div class="pb-10 pb-lg-12">
            <button type="button" class="btn btn-light-primary" (click)="backToLists()">รายการที่สร้างไว้</button>
        </div> -->
    </div>
    <div class="row col-md-12">
        <div class="card-body pt-2 pb-0 mt-n3 col-md-8">
            <form noValidate id="form" [formGroup]="form">
                <div class="row">
                    <div class="fv-row col-md-4">
                        <label class="form-label required">หน่วยงาน</label>
                        <mat-form-field appearance="outline">
                            <mat-select formControlName="imported_org_id" placeholder="เลือกหน่วยงาน" #orgSelect>
                                <mat-option>
                                    <ngx-mat-select-search [formControl]="organizationFilterCtrl"
                                        placeholderLabel="ค้นหาหน่วยงาน"
                                        [noEntriesFoundLabel]="organizationFilterCtrl?.value?.length > 0 && organizationFilterCtrl?.value?.length < min_keyword?'กรอกข้อมูลเพื่อค้นหา อย่างน้อย ' + min_keyword + ' ตัวอักษร':'ไม่พบข้อมูล'">
                                    </ngx-mat-select-search>
                                </mat-option>
                                <mat-option *ngFor="let item of filteredOrganizationLists | async"
                                    [value]="item?.org_id">
                                    {{item?.org_name}}
                                </mat-option>
                            </mat-select>
                            <!-- <mat-hint
                            *ngIf="organizationFilterCtrl?.value?.length > 0 && organizationFilterCtrl?.value?.length < min_keyword">
                            กรอกข้อมูลเพื่อค้นหา อย่างน้อย {{ min_keyword }} ตัวอักษร</mat-hint>
                        <mat-hint *ngIf="display_hint_reserved">{{ hint_reserved }}</mat-hint> -->
                        </mat-form-field>
                    </div>
                </div>
                <div class="row">
                    <div class="fv-row col-md-4">
                        <label class="form-label required">โรค</label>
                        <mat-form-field appearance="outline">
                            <mat-select formControlName="disease_id" placeholder="เลือกโรค" #diseaseSelect ngModel
                                (ngModelChange)="getTemplate()">
                                <mat-option>
                                    <ngx-mat-select-search [formControl]="diseaseFilterCtrl" placeholderLabel="ค้นหาโรค"
                                        noEntriesFoundLabel="ไม่พบข้อมูล">
                                    </ngx-mat-select-search>
                                </mat-option>
                                <mat-option *ngFor="let item of filteredDiseaseLists | async"
                                    [value]="item?.disease_id">
                                    {{item?.disease_name_th}}
                                </mat-option>
                            </mat-select>
                            <mat-error
                                *ngIf="form.get('disease_id')?.hasError('required') && form.get('disease_id')?.touched">
                                กรุณาเลือกโรค</mat-error>
                        </mat-form-field>
                    </div>
                    <div class="fv-row col-md-4">
                        <label class="form-label required">รูปแบบการติดตาม</label>
                        <mat-form-field appearance="outline">
                            <!-- <mat-label>Choose an option</mat-label> -->
                            <mat-select formControlName="template_id" placeholder="เลือกรูปแบบการติดตาม"
                                (ngModelChange)="getTemplateByID()">
                                <!-- <mat-option>-- None --</mat-option> -->
                                <mat-option *ngFor="let item of template_lists?.data" [value]="item.id">
                                    {{item.title}}
                                </mat-option>
                            </mat-select>
                            <mat-error
                                *ngIf="form.get('template_id')?.hasError('required') && form.get('template_id')?.touched">
                                กรุณาเลือกรูปแบบการติดตาม</mat-error>
                        </mat-form-field>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12 fw-bolder fs-3 preview_title"
                        *ngIf="template_detail?.data?.monitoring_option?.length>0">
                        ข้อมูลรูปแบบการติดตาม</div>
                    <div class="col-md-4" *ngFor="let item of template_detail?.data?.monitoring_option">
                        <div
                            class="notice d-flex bg-light-primary rounded border-primary border border-dashed mb-3 p-4">
                            <div class="d-flex flex-stack flex-grow-1">
                                <div class="fw-bold">
                                    <div class="fs-4 fw-bolder">ระยะที่ {{item.phase}}</div>
                                    <div class="fs-6 text-gray-600">
                                        <ul>
                                            <li>จำนวนวันกักตัว <span class="text-primary">{{item.days}} วัน</span></li>
                                            <li>ติดตามเส้นทางการเดินทาง<span
                                                    [inlineSVG]="item?.tracking_status?icon_path_true: icon_path_false"
                                                    class="svg-icon svg-icon-2x me-4"
                                                    [class]="item?.tracking_status?'svg-icon-success': 'svg-icon-danger'"></span>
                                            </li>
                                            <li>ติดตามสถานที่กักตัว<span
                                                    [inlineSVG]="item?.quarantine_status?icon_path_true: icon_path_false"
                                                    class="svg-icon svg-icon-2x me-4"
                                                    [class]="item?.quarantine_status?'svg-icon-success': 'svg-icon-danger'"></span>
                                            </li>
                                            <li>สถานที่กักตัว: {{getQuarantineLabel(item?.quarantine_points)}}</li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row" [hidden]="!has_coordinates">
                    <div class="fv-row col-md-8">
                        <label class="form-label required">ตำแหน่งกักตัวสถานที่ทำงาน</label>
                        <div class="row">
                            <div class="col-md-4">
                                <button type="button" class="btn btn-xs btn-light" (click)="getCurrentLocation()">
                                    <span [inlineSVG]="'./assets/media/icons/duotune/maps/map007.svg'"
                                        class="svg-icon svg-icon-3"></span>
                                    ตำแหน่งปัจจุบัน
                                </button>
                            </div>
                            <!-- <div class="col-md-8 search_area">
                                <mat-form-field appearance="outline" class="search_input">
                                    <input matInput type="text" formControlName="search">
                                </mat-form-field>
                            </div> -->
                        </div>
                        <div class="row">
                            <div id="map"></div>
                            <p>พิกัด: {{currentLocation?.lat}}{{currentLocation?',':'-'}}{{currentLocation?.lon}}</p>
                            <mat-error
                                *ngIf="form.get('coordinates')?.hasError('required') && form.get('coordinates')?.touched">
                                กรุณาระบุตำแหน่ง</mat-error>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="fv-row col-md-4">
                        <label class="form-label required">ประเภทกลุ่มเสี่ยง</label>
                        <mat-form-field appearance="outline">
                            <mat-select formControlName="person_type" placeholder="เลือกประเภทกลุ่มเสี่ยง">
                                <!-- <mat-option>-- None --</mat-option> -->
                                <mat-optgroup *ngFor="let item of person_type_lists" [label]="item.person_type_name">
                                    <mat-option *ngFor="let item2 of item.sub" [value]="item2.person_type">
                                        {{item2.person_type_name}}
                                    </mat-option>
                                </mat-optgroup>
                            </mat-select>
                            <mat-error
                                *ngIf="form.get('person_type')?.hasError('required') && form.get('person_type')?.touched">
                                กรุณาเลือกประเภทกลุ่มเสี่ยง</mat-error>
                        </mat-form-field>
                    </div>
                </div>
                <div class="row">
                    <div class="fv-row col-md-4">
                        <label class="form-label required">ประเภทผู้สัมผัส</label>
                        <!-- <mat-form-field appearance="outline">
                            <mat-select formControlName="contact_status" placeholder="เลือกประเภทผู้สัมผัส">
                                <mat-option *ngFor="let item of close_contact_type_lists" [value]="item.contact_status">
                                    {{item.contact_name}}
                                </mat-option>
                            </mat-select>
                            <mat-error
                                *ngIf="form.get('contact_status')?.hasError('required') && form.get('contact_status')?.touched">
                                กรุณาเลือกประเภทผู้สัมผัส</mat-error>
                        </mat-form-field> -->
                        <mat-radio-group aria-labelledby="example-radio-group-label" class="example-radio-group"
                            formControlName="contact_status">
                            <mat-radio-button class="example-radio-button" *ngFor="let item of close_contact_type_lists"
                                [value]="item.contact_status">
                                {{item.contact_name}}
                            </mat-radio-button>
                            <mat-error
                                *ngIf="form.get('contact_status')?.hasError('required') && form.get('contact_status')?.touched">
                                กรุณาเลือกประเภทผู้สัมผัส</mat-error>
                        </mat-radio-group>
                    </div>
                </div>
                <div class="row">
                    <div class="fv-row col-md-4">
                        <label class="form-label required">วันหมดอายุ QR Code</label>
                        <mat-form-field appearance="outline">
                            <!-- <mat-label>Choose a date</mat-label> -->
                            <input matInput [matDatepicker]="picker" (click)=" picker.open()" [min]="minDate"
                                [max]="maxDate" formControlName="expiration_ts">
                            <!-- <mat-hint>YYYY-MM-DD</mat-hint> -->
                            <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                            <mat-datepicker #picker></mat-datepicker>
                            <mat-error
                                *ngIf="form.get('expiration_ts')?.hasError('required') && form.get('expiration_ts')?.touched">
                                กรุณาเลือกวันหมดอายุ</mat-error>
                        </mat-form-field>

                    </div>
                </div>
                <div class="row mb-5">
                    <div class="d-flex flex-row-reverse">
                        <button type="button" class="btn btn-primary" (click)="createQRCode()">สร้าง QR Code</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
<app-result *ngIf="token_received" [data]="qrcode_data" (backToCreateQRCode)="resetForm($event)"></app-result>
<!-- begin:: Modal example -->
<app-select-location-modal #modal [modalConfig]="modalConfig" (emitLocation)="saveLocation($event)">
    Modal body html
</app-select-location-modal>