<div class="table-responsive">
    <!-- begin::Table -->
    <table class="table table-row-bordered table-row-gray-100 align-middle"
        *ngIf="disease_detail?.data?.medical_advice.length>0">
        <!-- begin::Table head -->
        <thead>
            <tr class="fw-bolder text-muted">
                <th class="min-w-150px">ความเสี่ยง</th>
                <th class="min-w-140px">คำแนะนำภาษาไทย</th>
                <th class="min-w-120px">คำแนะนำภาษาอังกฤษ</th>
            </tr>
        </thead>
        <!-- end::Table head -->
        <!-- begin::Table body -->
        <tbody>
            <tr *ngFor="let item of disease_detail?.data?.medical_advice; let i = index">
                <td>{{item?.symptom_level=='1'? 'ต่ำ': item?.symptom_level=='2'? 'ปานกลาง':'สูง'}}
                </td>
                <td>
                    {{item?.th}}
                    <!-- <span class="text-muted fw-bold text-muted d-block fs-7">Code: PH</span> -->
                </td>
                <td>
                    {{item?.en}}
                    <!-- <span class="text-muted fw-bold text-muted d-block fs-7">Code: Paid</span> -->
                </td>
            </tr>
        </tbody>
        <!-- end::Table body -->
    </table>
    <!-- end::Table -->
</div>
<p *ngIf="disease_detail?.data?.medical_advice.length==0" class="text-center fs-4">ยังไม่มีข้อมูล</p>