<!-- begin::Row -->
<!-- <div class="row g-5 g-xl-8">
  <div class="col-xl-4 col-md-6">
    <app-stats-widget5 svgIcon="./assets/media/icons/duotune/general/gen025.svg"
      class="card bg-primary hoverable card-xl-stretch mb-xl-8" color="primary" iconColor="white"
      title="นำเข้ากลุ่มเสี่ยงผ่าน QR Code" description="36 รายการใช้งานอยู่" link="/app/manage-qrcode/create">
    </app-stats-widget5>
  </div>

  <div class="col-xl-4 col-md-6">
    <app-stats-widget5 svgIcon="./assets/media/icons/duotune/communication/com012.svg"
      class="card bg-warning hoverable card-xl-stretch mb-xl-8" color="warning" iconColor="white"
      title="นำเข้ากลุ่มเสี่ยงผ่าน SMS" description="112 รายการใช้งานอยู่"></app-stats-widget5>
  </div>

  <div class="col-xl-4 col-md-6">
    <app-stats-widget5 svgIcon="./assets/media/icons/duotune/communication/com013.svg"
      class="card bg-success hoverable card-xl-stretch mb-5 mb-xl-8" color="success" iconColor="white"
      title="แก้ไขข้อมูลกลุ่มเสี่ยง" description="50 คนที่ลงทะเบียน" link="/app/manage-person/search">
    </app-stats-widget5>
  </div>

  <div class="col-xl-4 col-md-6">
    <app-stats-widget5 svgIcon="./assets/media/icons/duotune/medicine/med008.svg"
      class="card bg-dark hoverable card-xl-stretch mb-xl-8" color="dark" iconColor="white" title="จัดการโรค"
      description="3 รายการใช้งานอยู่"></app-stats-widget5>
  </div>

  <div class="col-xl-4 col-md-6">
    <app-stats-widget5 svgIcon="./assets/media/icons/duotune/general/gen030.svg"
      class="card bg-danger hoverable card-xl-stretch mb-xl-8" color="danger" iconColor="white"
      title="จัดการคำถามสุขภาพ" description="23 รายการใช้งานอยู่"></app-stats-widget5>
  </div>

  <div class="col-xl-4 col-md-6">
    <app-stats-widget5 svgIcon="./assets/media/icons/duotune/general/gen018.svg"
      class="card bg-info hoverable card-xl-stretch mb-5 mb-xl-8" color="info" iconColor="white"
      title="จัดการรูปแบบการติดตาม" description="11 รายการใช้งานอยู่"></app-stats-widget5>
  </div>
</div> -->
<!-- end::Row -->

<p class="text-center fs-1 fw-bold project_name">Medical Devices</p>
<div class="underline"></div>
<p class="text-center fs-5 fw-bold">ระบบบริหารจัดการฐานข้อมูลเครื่องมือแพทย์</p>
<div *ngIf="status == 200">
  <h1 class="text-center">Title: {{ todo.title }}</h1>
  <h1 class="text-center">Status: {{ status }}</h1>
</div>
<div *ngIf="status !== 200">
  <h1 class="text-center">NOT FOUND 404</h1>
  <h1 class="text-center">Status: {{ status }}</h1>
</div>

<!-- begin::Row -->
<!-- <div class="row g-5 g-xl-8">
  <div class="col-xl-4">
    <app-stats-widget6 class="card bg-light-success card-xl-stretch mb-xl-8" color="success" title="Avarage"
      description="Project Progress" [progress]="'50%'"></app-stats-widget6>
  </div>

  <div class="col-xl-4">
    <app-stats-widget6 class="card bg-light-warning card-xl-stretch mb-xl-8" color="warning" title="48k Goal"
      description="Company Finance" progress="15%"></app-stats-widget6>
  </div>

  <div class="col-xl-4">
    <app-stats-widget6 class="card bg-light-primary card-xl-stretch mb-xl-8" color="primary" title="400k Impressions"
      description="Marketing Analysis" progress="76%"></app-stats-widget6>
  </div>
</div> -->
<!-- end::Row -->

<!-- <div class="row gy-5 g-xl-8">
  <div class="col-xxl-4">
    <app-mixed-widget2 class="card card-xl-stretch mb-xl-8" chartColor="danger" chartHeight="200px"
      strokeColor="#cb1e46"></app-mixed-widget2>
  </div>
  <div class="col-xxl-4">
    <app-lists-widget5 class="card card-xxl-stretch"></app-lists-widget5>
  </div>
  <div class="col-xxl-4">
    <app-mixed-widget10 class="card card-xxl-stretch-50 mb-5 mb-xl-8" chartColor="primary" chartHeight="150px">
    </app-mixed-widget10>
    <app-mixed-widget11 class="card card-xxl-stretch-50 mb-5 mb-xl-8" chartColor="primary" chartHeight="175px">
    </app-mixed-widget11>
  </div>
</div>

<div class="row gy-5 gx-xl-8">
  <div class="col-xxl-4">
    <app-lists-widget3 class="card card-xxl-stretch mb-xl-3"></app-lists-widget3>
  </div>
  <div class="col-xl-8">
    <app-tables-widget10 class="card card-xxl-stretch mb-5 mb-xl-8"></app-tables-widget10>
  </div>
</div>

<div class="row gy-5 g-xl-8">
  <div class="col-xl-4">
    <app-lists-widget2 class="card card-xl-stretch mb-xl-8"></app-lists-widget2>
  </div>
  <div class="col-xl-4">
    <app-lists-widget6 class="card card-xl-stretch mb-xl-8"></app-lists-widget6>
  </div>
  <div class="col-xl-4">
    <app-lists-widget4 class="card card-xl-stretch mb-5 mb-xl-8"></app-lists-widget4>
  </div>
</div>


<div class="row g-5 gx-xxl-8">
  <div class="col-xxl-4">
    <app-mixed-widget8 class="card card-xxl-stretch mb-xl-3" chartColor="success" chartHeight="150px">
    </app-mixed-widget8>
  </div>
  <div class="col-xxl-8">
    <app-tables-widget5 class="card card-xxl-stretch mb-5 mb-xxl-8"></app-tables-widget5>
  </div>
</div>


<app-modal #modal [modalConfig]="modalConfig">
  Modal body html
</app-modal>
<button class="btn btn-primary" (click)="openModal()">Open modal</button> -->

<!-- end:: Modal example -->
